.background{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;             
    align-items: center;
}

.Box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;             
    align-items: center;
    height: auto;
    width: 100%;
}

.Card{
    width: 600px;
    display: flex;
    justify-content: center;
    max-width: 600px;
    max-height: 600px;
}